<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/main.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://fontawesome.com/icons/futbol?style=solid">
  </head>
  <body>

    <header class="main-header">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#"><i class="fas fa-futbol"></i></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">New</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Archive</a>
                </li>
                <li class="nav-item">
                  <button type="button" class="btn btn-primary btn1" data-toggle="modal" data-target="#exampleModalCenter">
                      Log In
                    </button> 
                </li>
                <a class="nav-link disabled" href="#"><button type="button" class="btn btn-outline-secondary btn2">Sign Up</button></a>
              </ul>
            </div>
          </nav>
         

                  <!-- Modal -->
          <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Log In</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <label>Email</label>
                    <br>
                    <input type="email" name="email" id="email" placeholder="youremail@gmail.com">
                    <br>
                    <label>Password</label>
                    <br>
                    <input type="password" name="passwaord" id="" placeholder="*******">
                  </div>
                  <div class="modal-footer">
                    <button type="button btn2" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input class="btn btn-primary"  data-dismiss="modal" aria-label="Close" type="submit" value="Log In">
                  </div>
                </div>
              </div>
            </div>

      <article>   
        <h1><%= title %></h1>
        <p>Welcome to <%= title %>, all the latest news and rumours right here.</p>
     </article> 
    </header>

    <main class="content">

      <h1>Featured Posts</h1>
      
      <section class="content-grid">
        <article>
          <img src="../images/mbappe.jpg" alt="">
          <h2>Being behind Pele in the World Cup record books 'not a problem' for France star Mbappe</h2>
          <p>Being second to the legendary Brazilian in the World Cup record books is an honour for the young France star. France and Paris Saint-Germain star Kylian Mbappe is happy to be behind Pele in the World Cup record books. Mbappe, then 19, became the second youngest player to score in a World Cup final when he struck in France's win over Croatia in last year's decider. Pele is the youngest and the pair are the only teenagers to have netted in a decider at the showpiece tournament.</p>
        </article>

        <article class="border1">
            <img src="../images/fdd419dc3c984f50a89ee87626098f45500x500.jpg" alt="">
            <h2>Kovacic prefers Chelsea stay over Real Madrid return despite Zidane comeback</h2>
            <p>The Blues loanee faces an uncertain future despite being sure of his personal preference. Mateo Kovacic remains in limbo over his future but the player himself wants to stay at Chelsea, even after Zinedine Zidane returned to the Real Madrid dugout, Goal understands.The on-loan star has had no assurances from the Blues hierarchy and a variety of issues need to be resolved before the Croatia international can be signed on a permanent deal. Kovacic has made 41 appearances, without scoring, since arriving at Stamford Bridge on a season-long loan deal from Madrid last August.</p>
          </article>

          <article>
              <img src="../images/manutd.jpg" alt="">
              <h2>Solskjaer bemoans 'sloppy mistakes' from Manchester United in Wolves loss</h2>
              <p>The club have lost three of their last four games but their manager praised his side's display in a 2-1 defeat at Wolves. Ole Gunnar Solskjaer praised Manchester United's performance in a 2-1 defeat at Wolves that dents their Champions League qualification hopes but conceded his team made preventable errors. Scott McTominay's first goal for the club put United in front at Molineux, where a victory would have seen Solskjaer's side jump above Arsenal and Tottenham into third in the Premier League. But Diogo Jota levelled after Fred gave away possession and United captain Ashley Young was sent off after being booked twice for fouls on the Wolves striker to become the 100th dismissal of Mike Dean's Premier League career.</p>
            </article>
      </section>
      
    </main>

  </body>
</html>
