
// buttons

.btn1 {
  width: 7vw;
  position: absolute;
  right: 25vw;
  bottom: .5vw;
  cursor: pointer;
}

.btn2 {
  width: 7vw;
  position: absolute;
  right: 17vw;
  bottom: .5vw;
  cursor: pointer;
}

// soccer ball icon
.fa-futbol {
  font-size: 2.5vw;
}
