@media only screen and (max-width:2600px) {
    .modal-content {
        height: 70vh;
    }

    .border {
        padding: 2vw;
        img{
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width:1440px) {
    .main-header {
        article {
            top: 50%;
            right: 0;
        }
    }

    .content {
        height: 235vh;
    }
}

@media only screen and (max-width:1024px) {
    .main-header{ 
        article {
            top: 75%;
            right: 5%;
        }
    } 

    .content-grid {
        margin-top: 4vw;
    }

    .navbar-brand {
        margin-top: 2vw;
    }

    .btn1 {
        bottom: 1.8vw;
        width: 8vw;
    }
    .btn2 {
        bottom: 1.8vw;
        width: 9vw;
        right: 15vw;
    }

    .border p {
        font-size: 1.5vw;
    }

    .content {
        height: 225vh;
    }

    .modal-image {
        width: 41vw;
    }

    .info {
        h2 {
            font-size: 2vw;
        }
    }
}

@media only screen and (max-width:768px) {

    .main-header{
        background-image: url(/images/messi.jpg);
        background-size: cover;
        background-position: right;

        h1 {
            font-size: 6vw;
        }

        article {
            font-size: 2.2vw;
            top: 30%;
            right: 5%;
        }
    }

    .content {
        height: 320vh;
    }

    .modal-image {
        width: 55vw;
    }

    .content-grid {
        display: block;
        margin: 4vw;
    }

    .btn1 {
        bottom: 1.8vw;
        width: 10vw;
    }
    .btn2 {
        bottom: 1.8vw;
        width: 11vw;
        right: 11vw;
    }
}

@media only screen and (max-width:425px) {
    .main-header {
        background-image: url(/images/aguero.jpg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        h1 {
            font-size: 8vw;
        }

        article {
            font-size: 3.2vw;
            top: 23%;
            right: 3%;
        }
        
    }

    .archive {
        display: block;

        h2 {
            font-size: 4vw;
        }
        
        p {
            font-size: 2.5vw;
        }
    }

    .btn1 {
        bottom: 1.8vw;
        width: 20vw;
        left: 52vw;
    }
    .btn2 {
        bottom: 1.8vw;
        width: 22vw;
        right: 3vw;
    }

    .content-grid {
        margin: 10vw 0vw;

        img {
            width: 100%;
            height: 200px;
        }

        article {
            padding: 5vw 2vw;
        }
    }

    .content {
        height: 340vh;
    }

    .info {

        h2 {
            font-size: 5vw;
        }
        h3 {
            font-size: 4vw;
        }
    }
    .modal {
        overflow-y: scroll;
        p {
            margin-top: 0;
            margin-bottom: 1rem;
            font-size: 3.3vw;
        }

        h4{
            font-size: 4vw;
        }

        .modal-image {
            width: 64vw;
            margin: 0.5vw 0vw;
        }
    }
}
    
@media only screen and (max-width:375px) {
    .content h1 {
        text-align: center;
        height: 18vw;
        padding-top: 2vw;
        text-transform: uppercase;
        font-size: 7vw;
    }

    .content {
        height: 350vh;
    }
}

@media only screen and (max-width: 375px) {
    .content {
        height: 360vh;
    }

    .btn1 {
        bottom: 1.8vw;
        width: 22vw;
        left: 45vw;
    }
    .btn2 {
        bottom: 1.8vw;
        width: 26vw;
        right: 3vw;
    }
}
